In [1]:
# see McKinney p. 139
import pandas.io.data as web
from pandas import Series, DataFrame
import pandas as pd

all_data = {}
for ticker in ['AAPL','IBM','MSFT','GOOG']:
    all_data[ticker] = web.get_data_yahoo(ticker,'1/1/2000','10/12/2015')
    
price = DataFrame({tic: data['Adj Close']
                   for tic, data in all_data.items()})
volume = DataFrame({tic: data['Volume']
                   for tic, data in all_data.items()})

C:\Anaconda3\lib\site-packages\pandas\io\data.py:33: FutureWarning:
The pandas.io.data module is moved to a separate package (pandas-datareader) and will be removed from pandas in a future version.
After installing the pandas-datareader package (https://github.com/pydata/pandas-datareader), you can change the import ``from pandas.io import data, wb`` to ``from pandas_datareader import data, wb``.
  FutureWarning)

In [7]:
# print info about the price data frame
price.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3969 entries, 2000-01-03 to 2015-10-12
Data columns (total 4 columns):
AAPL    3969 non-null float64
GOOG    390 non-null float64
IBM     3969 non-null float64
MSFT    3969 non-null float64
dtypes: float64(4)
memory usage: 155.0 KB

In [4]:
# view the first five records
price.head()

                AAPL  GOOG        IBM       MSFT
Date
2000-01-03  3.722380   NaN  91.825702  40.933045
2000-01-04  3.408544   NaN  88.708774  39.550320
2000-01-05  3.458425   NaN  91.825702  39.967333
2000-01-06  3.159138   NaN  90.242501  38.628504
2000-01-07  3.308782   NaN  89.846700  39.133308

In [8]:
# print info about the volume data frame
volume.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3969 entries, 2000-01-03 to 2015-10-12
Data columns (total 4 columns):
AAPL    3969 non-null int64
GOOG    390 non-null float64
IBM     3969 non-null int64
MSFT    3969 non-null int64
dtypes: float64(1), int64(3)
memory usage: 155.0 KB

In [6]:
# view the first five records
volume.head()

                 AAPL  GOOG       IBM      MSFT
Date
2000-01-03  133949200   NaN  10347700  53228400
2000-01-04  128094400   NaN   8227800  54119000
2000-01-05  194580400   NaN  12733200  64059600
2000-01-06  191993200   NaN   7971900  54976600
2000-01-07  115183600   NaN  11856700  62013600

In [2]:
# create a new data frame that contains the percent change from price
returns = price.pct_change()
returns.tail()

                AAPL      GOOG       IBM      MSFT
Date
2015-10-06  0.004784  0.006189 -0.001744  0.002573
2015-10-07 -0.004761 -0.004772  0.008805  0.001069
2015-10-08 -0.011554 -0.004982  0.014591  0.013889
2015-10-09  0.023927  0.006962  0.000722 -0.007165
2015-10-12 -0.004638  0.004754 -0.008203 -0.002335